.clients {
    &-list {
        
        @media screen and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
        }
        // justify-content: space-between;
    }
    &-item:not(:last-child) {
        @media screen and (min-width: 1200px) {
            margin-right: 30px;
        }
        
    }
}
.clients {
    &-item {
        margin-right: 30px;
        @media screen and (max-width: 767px) {
            width: calc((100% - 30px * 2 ) / 2);
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            width: calc((100% - 30px * 2 ) / 3);
        }
    }
    &-item:nth-child(2n) {
        @media screen and (max-width: 767px) {
            margin-right: 0;
        }
    }
    &-item:nth-child(n + 3) {
        @media screen and (max-width: 767px) {
            margin-top: 30px;
        }
    }
    &-item:nth-child(3n) {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 0;
        }
    }
    &-item:nth-child(n + 4) {
        @media screen and (min-width: 768px) and  (max-width: 1199px) {
            margin-top: 30px;
        }
    }

    // &-item:nth-child(1n) {
    //     @media screen and (max-width: 767px) {
    //         margin-right: 30px;         
    //     }
    // }
    // &-item:nth-child(2n) {
    //     @media screen and (max-width: 767px) {
    //         margin-right: 0px;         
    //     }
    // }
    // &-item:nth-child(n + 3) {
    //     @media screen and (max-width: 767px) {
    //         margin-top: 30px;        
    //     }
    // }
}
.clients {
    &-icon {
        fill: $main-9-color;
        transition: $animation;
    }
}

.clients-item {
    a {
        @include centeredflex;
        width: 100%; 
        height: 90px;
        border: 1px solid $main-9-color;
        border-radius: 4px;  
        transition: $animation;
        @media screen and (min-width: 768px) {
            width: 226px;
        }
        @media screen and (min-width: 1200px) {
            width: 170px;
        }
    }
    a:hover, a:focus {
        fill: $main-2-color;
        border-color: $main-2-color;
        .clients-icon {
            fill: $main-2-color;
        }
    }
}
