.tech-skills {
    @media screen and (max-width: 1199px) {
        display: none;
    }
    
    &-list {
        display: flex;
    }
    &-item {
        position: relative;
        } 
}
.tech-skills {
    &-item:not(:last-child){
        margin-right: 30px;
    }    
}
.tech-skills-item {
    &-title {    
        position: absolute;
        bottom: 0;
        left: 0;
        background: $background-color;
        width: 100%;
        max-height: 70px;
        text-align: center;
        color: $main-3-color;
        padding-top: 27px;
        padding-bottom: 27px;    
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
    }
}
