.title {
    color: $main-1-color;
    font-weight: 700;
    padding-bottom: 30px;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (min-width: 1200px) {
        font-size: 36px;
        line-height: 42px;
        letter-spacing: 0.03em;
    }
}


