.portfolio {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
    // @media screen and (min-width: 768px) {
    //     // display: flex;
    //     // flex-wrap: wrap;
    //     // justify-content: center;
    // }
    &-item {
        &:not(:last-child) {
            @media screen and (max-width: 767px) {
                margin-bottom: 30px;
            }
        }
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 30px * 2 ) / 2);
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 30px * 2 ) / 3);
        }
        // width: calc((100% - 30px * 2 ) / 3);
        margin-right: 30px;  
        border: 1px solid #EEEEEE;  
    }
}

.portfolio {
    &-item:nth-child(2n) {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-right: 0;
        }
        
    }
    &-item:nth-child(n + 3) {
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            margin-top: 30px;
        }
        
    }

    &-item:nth-child(3n) {
        @media screen and (min-width: 1200px) {
            margin-right: 0;
        }
    }
    &-item:nth-child(n + 4) {
        @media screen and (min-width: 1200px) {
            margin-top: 30px;
        }
    }
}
.portfolio-item {
    &:hover, &:focus {
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
}
.card {
    text-decoration: none;
    
    &-image {
        position: relative;
        overflow: hidden;
    }
    &-item-description {
        position: absolute;
        top: 100%;
        
        transition: $animation;
        color: $main-3-color;
        background: rgba(33, 150, 243, 0.9);
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0.03em;
        padding: 63px 24px;
    }
}
.card {
    &-contents {
        background-color: $main-3-color;
        padding-left: 24px;
        padding: 20px 24px;
    }
    &-titles {
        font-size: 18px;
        line-height: 36px;
        letter-spacing: 0.06em;
        color: $main-1-color;
        padding-bottom: 4px;
    }
    &-text {
        font-size: 16px;
        line-height: 30px;
        letter-spacing: 0.03em;
        color: $main-4-color;
    }
} 

.card:hover, .card:focus {    
    .card-item-description{
        transform: translateY(-100%) translateX(0);
        opacity: 1;
    }
}